// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Roboto', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$dark: #232323;

$primary: #FFA300;
$danger: #ff5a5f;
$hover-state: #5DAA5D;
$gray-1: #dedede;

$brand-color: #0F635C;
$correct-answer:#5acc50;
$wrong-answer:#ea5e5e;
$topics-hover:#03B35B;

$brand-green1: #118987;
$brand-green2: #1CAEA6;
$brand-green3: #0F635C;
$pricing-green1: #25905F;
$pricing-green3: #2B6E2D;

$gray1: rgba(#464646, 0.6);
$gray2: #AFAFAF;
$gray3: #F7F7F7;
$gray4: #8a8a8a;
$gray5: #6A6A6A;
$gray6: #F2F2F2;
$gray7: #929292;
$black1: #555555;
$black2: #2b2b2b;
